img{
    text-align:center;
    display:block;
    height: 100px;
    padding-top: 12px;
}

h1{
    text-align: center;
    color: maroon;
    margin-top: 15px;
}

p{
    text-align: center;
}

h2{
    text-align: center;
    font-weight: bold;
    font-size: 26pt;
    color: white;
    padding-top: 25px;
    text-decoration: underline;
    opacity: .8;
}

h3{
    text-align: center;
    font-weight: bold;
    font-size: 22pt;
    color: white;
    opacity: .8;
    background-color: rgba(128, 0, 0, 0.95);
    padding: 20px;
    
}


a{
    color:maroon;
}

.bar:hover{
    opacity: .3;
}

.tooltip,.tooltipB{
    position: fixed;
    display: none;
}

.column {
    float: left;
    width: 33.33%;
    text-align: center;
  }

.row{
    padding-top: 50px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
  }

.dashboard{
    background-color: maroon;
    opacity: .9;
    height: 400px;
    border: rgb(227, 201, 145);
    border-width: 5px;
    border-style: double;
}
.dash-descript{
    color: white;
    opacity: .8;
}

.dash-title{
    font-size: 14pt;
    color: white;
    opacity: .8;
}

.dash-num{
    font-size: 50pt;
    color: white;
}

button{
    background-color:rgb(128,0,0,.9);
    border-width: 0px;
}

button:hover{
    background-color: rgb(227, 201, 145);
}

#group-by{
    text-align-last:center; 
    background-color: rgba(128, 0, 0, 0.85);
    font-weight: 600;
    color: white;
    width: 30%;
}

#sort-by{
    text-align-last:center; 
    background-color: rgba(128, 0, 0, 0.85);
    font-weight: 600;
    color: white;
    width: 30%;
}

table{
    text-align: center;
    font-size: 13pt;
}

.tr-label{
    color: maroon;
    font-size: 16pt;
}
  
.BC{
    background-color: rgba(128, 0, 0, 0.75);
    color: white;
}

.tufts{
    background-color: rgba(135, 207, 235, 0.75);
}

.BU{
    background-color: rgba(255, 0, 0, 0.75);
    color: white;
}

.NEU{
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

.MIT{
    background-color: rgba(178, 34, 34, 0.75);
    color: white;
}

tr{
    height: 80px;
}